.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding: 0 5%;
    
    @media (max-width: 768px) {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        
  }
  
  .left, .center, .right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    @media (max-width: 768px) {
        flex: none; 
        width: 100%; 
        margin-bottom: 1rem; 
      }
  }
  
  .left {
    align-items: flex-start; 
  }
  
  .left h1 {
    font-size: 3rem;
    margin: 0;
    color: #344e41;
  }
  
  .left p {
    font-size: 1.2rem;
    color: #3a5a40;
  }
  
  .center {
    justify-content: center; 
  }

  .foodImage {
    max-width: 400px;  
    height: auto;
  }
  
  .right {
    align-items: flex-end; 
  }
  
  .buttonGroup {
    display: flex; 
    flex-direction: column;
    align-items: center; 
  }

  .buttonsWrapper {
    display: flex; 
    gap: 0.5rem; 
    margin-top: 0.5rem; 
  }
  
  .label {
    margin: 0;
    font-size: 2rem;
    color: #344e41;
    padding: 2rem;
  }
  
  .button {
    margin-top: 0.5rem;
    padding: 0.8rem 1.2rem;
    font-size: 1.25rem;
    color: white;
    background-color: #84a970; 
    border: none;
    text-decoration: none; 
    border-radius: 25px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #588157;
  }
}
//   <a href='https://pngtree.com/freepng/egg-noodle-noodles-food-illustration_4588745.html'>png image from pngtree.com/</a>