.card {
    border: 1px solid #d0cec5;
    background-color: #dad7cd;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
  }

  .titleContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .title {
    font-size: 1.5rem;
    margin-bottom: 8px;
    color: #344e41;
  }

  .deleteIcon {
    cursor: pointer;
    color: black;
    font-size: 1rem;
  }
  
  .type {
    font-size: 1rem;
    color: #666;
    margin-bottom: 16px;
  }
  
  .actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .linkButton {
    background: none;
    border: none;
    color: #3a5a40;
    text-decoration: none;
    cursor: pointer;
    font-size: 1rem;
  
    &:hover {
      text-decoration: underline;
    }
  }
  
  .icon {
    font-size: 1.2rem;
    cursor: pointer;
  }
  
  .heartFilled {
    color: red;
  }
  
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modalContent {
    background: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    width: 90%;
  }
  
  .closeButton {
    background: #ccc;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
  
    &:hover {
      background: #bbb;
    }
  }
  
  .saveButton {
    background: #007bff;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
  
    &:hover {
      background: #0056b3;
    }
  }
  
  .textArea {
    width: 100%;
    height: 100px;
    margin-bottom: 16px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  